html, body {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', sans-serif;
    background-color: #eef0f4;
    color: #793c04;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
    
}

input {
    color: #793c04;
    background-color: #dce1eb;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 30px;
    text-align: center;
    font-family: 'Caveat', sans-serif;
    margin: 10px 0;
}

button {
    color: #fdfdfd;
    background-color: #ac485a;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 30px;
    font-family: 'Caveat', sans-serif;
}

button:hover {
    background-color: #793c04;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
}

ul li {
    font-size: 20px;
    background-color: #f3c348;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba (0, 0, 0, 0.2);
    flex-grow: 1;
    text-align: center;
}

ul li:hover {
    background-color: #d8b46c;
    cursor: pointer;
}

